<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="DR\PaymentMethodFilter\Observer\ExcludeDisallowedPaymentMethod">
        <arguments>
            <argument name="filterList" xsi:type="array">
                <item name="guest_filter" xsi:type="object">DR\PaymentMethodFilter\Model\Filter\Guest</item>
                <item name="customer_filter" xsi:type="object">DR\PaymentMethodFilter\Model\Filter\Customer</item>
                <item name="quote_content_filter" xsi:type="object">DR\PaymentMethodFilter\Model\Filter\QuoteContent</item>
            </argument>
        </arguments>
    </type>
</config>